@tailwind base;
@tailwind components;
@tailwind utilities;


.sticky-header {
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0; /* Rester en haut */
    z-index: 1000; /* Pour le garder au-dessus du contenu */
  }
  